body {
  background-color: bisque;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

.container {  
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: blue;
  font-size: 1em;
  margin: 0 20px 0 20px;
}

.gameField {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin: 0 auto;
  
}

.stone {
  box-sizing: border-box;
  width: 25%;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
  transition-duration: 300ms;
  transition-property: transform;
}


label { 
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  display: block;
  margin: 20px auto;
}

#name {
  margin: 20px auto;
  display: block;
  font-size: 3em;
  background-color: yellow;
  border: none;
  outline: none;
}

.rounds {
  display: block;
  margin-left: 1em;
}

.vinnerMessage {
  
  flex-wrap: wrap;
  width: 400px;
  height: 220px;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -600%);
  z-index: 1;
  transition: transform 800ms;
  background-color: yellow;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px rgba(39, 39, 39, 0.568);
}

.submit {
  width: 100px;
  height: 40px;
  display: block;
  border-radius: 10px;
  font-size: 1.3em;
  margin: 20px auto;
}

.scoreTable {
  margin: 60px auto;
  text-align: center;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.top5 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scoreTable p {
  margin: 10px 0 10px 0;
}