body {
  background-color: bisque;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: blue;
  font-size: 1em;
}

.gameField {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin: 0 auto;
}

.stone {
  box-sizing: border-box;
  width: 25%;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
  transition-duration: 300ms;
  transition-property: transform;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

label {
  display: flex;
  align-items: center;
  width: 230px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.rounds {
  display: block;
  margin-left: 1em;
}
